:root{
	--neutral-100-value: #F9F9F9;
	--neutral-200-value: #f4f4f4;
	--neutral-300-value: #e5e5e5;
	--neutral-500-value: #b1b1b1;
	--neutral-700-value: #666666;
	--neutral-900-value: #343a40;
	--brand-primary-200-value: #e9f0fb;
	--brand-primary-500-value: #3200c1;
	--brand-primary-600-value: #2b049b;
	--brand-primary-700-value: #24018a;
	--brand-primary-800-value: #1c016b;
	--brand-primary-900-value: #10003f;
	--brand-secondary-300-value: #acfff0;
	--brand-secondary-500-value: #37ffdb;
	--brand-secondary-700-value: #03dac6;
	--semantic-warning-300-value: #fef3d7;
	--semantic-warning-500-value: #f9c235;
	--semantic-warning-700-value: #dca414;
	--semantic-danger-100-value: #FFF3F4;
	--semantic-danger-300-value: #f29ba2;
	--semantic-danger-500-value: #e63946;
	--semantic-danger-700-value: #c51627;
	--semantic-success-300-value: #bee7d1;
	--semantic-success-500-value: #23ad63;
	--semantic-success-700-value: #187844;
	--blanco:#FFF;
	--spacer: 1rem;
	--border-width:1px;
	--font-size-l: 1.125rem;
	--font-size-m: 1rem;
	--font-size-s: .875rem;
	--font-size-xs: .75rem;
	--alto-cabecera:64px;
	--app-margin:16px;
}
.App {
  padding: 20px;
  background-color: #f8f8f8;
}
.ant-alert,
.App .ant-card{
	margin-bottom: var(--app-margin);
}
.c-cards{
	display: flex;
	flex-wrap: wrap;
	gap: var(--app-margin);
}
.c-cards .ant-card{
	min-width: 20%;
	max-width: 40%;
}
.title{
	color: var(--brand-primary-500-value);
}
.c-items{
	display: flex;
	flex-wrap: wrap;
	gap: var(--app-margin);
}

/* GLOBALES adicionales */
.ant-breadcrumb{
	margin: var(--spacer) 0;
}
.ant-breadcrumb > span:last-child{
	font-weight: 700;
}